html
	head
		title 휴가증 정보
		style(type="text/css")
			include styles/style.css
	body
		div
			table
				thead
					tr
						th 분류
						th 값
				tbody
					each pairs, i in datali
						tr
							td #{pairs[0]} 
							td #{pairs[1]}